{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <div align="center">
            <h1>Account Page</h1>
            <p>Welcome, {{ current_user.username }}!</p>
            <p>Email: {{ current_user.email }}</p>
            <img align='center' src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}" alt="Profile Picture" class="img-fluid rounded-circle" width="200">
        </div>
    </div>

    <div class="container">
        <h2>Update Profile Picture</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="form-group"> 
                {{ form.username.label(class='form-group') }} 
                {{ form.username(class='form-control') }}<br><br>
            </div>

            <div class="form-group">
                {{ form.email.label(class='form-group') }} 
                {{ form.email(class='form-control') }}<br><br>
            </div>

            <div class="form-group">
                {{ form.picture.label(class='form-group') }} 
                {{ form.picture(class='form-control') }}<br><br>
            </div>

            <div class="form-group">
                {{ form.submit(class='btn btn-primary') }}
            </div>
            
        </form>

{% endblock %}