{% extends "base.html" %}
{% block content %}
    <div class="d-flex justify-content-center align-items-start" style="min-height: 80vh; padding-top: 40px;">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 750px; border-radius: 16px; background-color: #FBF2ED;">
        
        <h3 class="text-center mb-4" style="color: #3A3A3A;">Create a New Blog Post</h3>

        <form method="POST">
            {{ form.hidden_tag() }}

            <!-- Title -->
            <div class="mb-4">
                {{ form.title.label(class="form-label fw-semibold")}}
                {{ form.title(class="form-control form-control-lg", placeholder="Enter post title") }}

            </div>

             <!-- Text -->
            <div class="mb-4">
                {{ form.text.label(class="form-label fw-semibold") }}
                {{ form.text(class="form-control", rows="10", placeholder="Write your story...") }}
            </div>

            <!-- Submit -->
            <div class="d-grid">
                {{form.submit(class="btn btn-dark rounded-pill") }}
            
            </div>

        </form>

    </div>
</div>
{% endblock %}